Repository iNavFlight/inav, pull requests merged in 2024-08, with the labels that each got.

#10272 add SERVOS to blackbox optional fields list
  src/main/blackbox/blackbox.c
  src/main/blackbox/blackbox.h
  src/main/fc/cli.c
Labels: Requires Configurator

#10276 Allow number of servos exceed pwm outputs, if servo protocol is sbus_pwm
  src/main/drivers/pwm_mapping.c
  src/main/drivers/pwm_mapping.h
  src/main/drivers/pwm_output.c
  src/main/fc/rc_controls.h
  src/main/flight/servos.c
  src/main/flight/servos.h
  src/main/io/servo_sbus.h
  src/main/rx/jetiexbus.c
  src/main/target/common.h
Labels: Testing Required

#10273 Allow Mission Upload mid flight
  src/main/navigation/navigation.c
Labels: Ready to merge

#9603 Add AIKONF7 target
  src/main/target/AIKONF7/CMakeLists.txt
  src/main/target/AIKONF7/target.c
  src/main/target/AIKONF7/target.h
Labels: Unofficial Target, New target

#10285 Add FLYWOOH743PRO Target
  src/main/target/FLYWOOH743PRO/CMakeLists.txt
  src/main/target/FLYWOOH743PRO/config.c
  src/main/target/FLYWOOH743PRO/target.c
  src/main/target/FLYWOOH743PRO/target.h
Labels: New target

#10292 add TBS_LUCID_FC target
  src/main/target/TBS_LUCID_FC/CMakeLists.txt
  src/main/target/TBS_LUCID_FC/target.c
  src/main/target/TBS_LUCID_FC/target.h
Labels: New target
