Repository iNavFlight/inav, pull requests merged in 2024-04, with the labels that each got.

#9617 Reorganise stats screens
  docs/OSD.md
  docs/Settings.md
  src/main/blackbox/blackbox_io.c
  src/main/blackbox/blackbox_io.h
  src/main/common/maths.h
  src/main/drivers/osd_symbols.h
  src/main/fc/fc_core.c
  src/main/fc/fc_core.h
  src/main/fc/settings.yaml
  src/main/io/osd.c
  src/main/io/osd.h
  src/main/sensors/acceleration.c
  src/main/sensors/acceleration.h
Labels: Release Notes, Requires Configurator

#9817 Fixes SB F405 Wing ADC for RSSI and Aspd swapped
  src/main/target/SPEEDYBEEF405WING/target.h
Labels: Testing Required

#9745 Optimize the current meter scale and offset for AOCODARCF405AIO
  src/main/target/AOCODARCF405AIO/target.h
Labels: Ready to merge

#9866 Drop MSP_POSITION_ESTIMATION_CONFIG
  src/main/fc/fc_msp.c
  src/main/msp/msp_protocol.h
Labels: MSP Change

#9865 Drop MSP_OSD_CONFIG from MSP protocol
  src/main/fc/fc_msp.c
  src/main/msp/msp_protocol.h
Labels: MSP Change

#9873 New MSP frames for Servos
  src/main/fc/fc_msp.c
  src/main/msp/msp_protocol.h
  src/main/msp/msp_protocol_v2_common.h
  src/main/msp/msp_protocol_v2_inav.h
Labels: MSP Change

#9900 Drop MSP_PIDNAMES frame as outdated
  src/main/fc/fc_msp.c
  src/main/msp/msp_protocol.h
Labels: MSP Change

#9903 Drop MSP_FILTER_CONFIG and MSP_SET_FILTER_CONFIG commands
  src/main/fc/fc_msp.c
  src/main/msp/msp_protocol.h
Labels: MSP Change

#9901 Drop MSP_PID_ADVANCED and MSP_SET_PID_ADVANCED from MSP protocol
  src/main/fc/fc_msp.c
  src/main/msp/msp_protocol.h
Labels: MSP Change

#9955 Cherry pick TAKERF722SE target from master
  src/main/target/TAKERF722SE/CMakeLists.txt
  src/main/target/TAKERF722SE/target.c
  src/main/target/TAKERF722SE/target.h
Labels: New target

#9915 max_throttle adjustments
  docs/Settings.md
  src/main/blackbox/blackbox.c
  src/main/fc/fc_msp.c
  src/main/fc/rc_curves.c
  src/main/fc/settings.yaml
  src/main/flight/dynamic_lpf.c
  src/main/flight/mixer.c
  src/main/flight/mixer.h
  src/main/flight/pid.c
  src/main/navigation/navigation_fixedwing.c
  src/main/navigation/navigation_multicopter.c
  src/main/navigation/navigation_rover_boat.c
  src/main/target/ASGARD32F4/config.c
  src/main/target/ASGARD32F7/config.c
Labels: Release Notes

#9807 Target: Add JHEMCUF405WING, JHEMCUF745, JHEMCUH743HD board
  src/main/target/JHEMCUF405WING/CMakeLists.txt
  src/main/target/JHEMCUF405WING/config.c
  src/main/target/JHEMCUF405WING/target.c
  src/main/target/JHEMCUF405WING/target.h
  src/main/target/JHEMCUF745/CMakeLists.txt
  src/main/target/JHEMCUF745/config.c
  src/main/target/JHEMCUF745/target.c
  src/main/target/JHEMCUF745/target.h
  src/main/target/JHEMCUH743HD/CMakeLists.txt
  src/main/target/JHEMCUH743HD/config.c
  src/main/target/JHEMCUH743HD/target.c
  src/main/target/JHEMCUH743HD/target.h
Labels: New target

#9365 SITL: implemented built-in serial receivers support in SITL, implemented FC proxy mode, updated SITL docs
  docs/SITL/SITL.md
  docs/SITL/assets/serial_receiver_crsf.png
  docs/SITL/assets/serial_receiver_proxy.png
  docs/SITL/assets/serial_receiver_sbus.png
  docs/development/Building SITL.md
  src/main/drivers/serial_tcp.c
  src/main/drivers/serial_tcp.h
  src/main/fc/fc_init.c
  src/main/fc/fc_tasks.c
  src/main/main.c
  src/main/rx/sim.c
  src/main/rx/sim.h
  src/main/target/SITL/serial_proxy.c
  src/main/target/SITL/serial_proxy.h
  src/main/target/SITL/target.c
Labels: Testing Required

#9990 Match F745 and F745NANO motor pins to BF target
  src/main/target/FLYWOOF745/target.c
Labels: Testing Required

#9942 Use 2 bits for msp displayport font page
  src/main/io/displayport_msp_bf_compat.c
  src/main/io/displayport_msp_osd.c
  src/main/io/displayport_msp_osd.h
Labels: Testing Required
