Repository iNavFlight/inav, pull requests merged in 2025-08, with the labels that each got.

#10818 Position estimator improvements
  docs/Settings.md
  src/main/fc/settings.yaml
  src/main/navigation/navigation_pos_estimator.c
  src/main/navigation/navigation_pos_estimator_agl.c
  src/main/navigation/navigation_pos_estimator_private.h
Labels: For Discussion

#10971 fix changing msp receiver crash
  src/main/rx/msp_override.c
Labels: Review effort 2/5

#10262 Added Zerodrag WARP7
  src/main/target/WARPF7/CMakeLists.txt
  src/main/target/WARPF7/config.c
  src/main/target/WARPF7/target.c
  src/main/target/WARPF7/target.h
Labels: New target

#10805 Brother h743
  src/main/target/BROTHERHOBBYH743/CMakeLists.txt
  src/main/target/BROTHERHOBBYH743/config.c
  src/main/target/BROTHERHOBBYH743/target.c
  src/main/target/BROTHERHOBBYH743/target.h
Labels: Ready to merge, New target, Review effort 3/5
